<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="DI.ICall, DI" mapTo="DI.PhoneCaller, DI" />
      <register type="DI.IEmail, DI" mapTo="DI.EmailSender, DI" />
      <register type="DI.ISMS, DI" mapTo="DI.SMSSender, DI" />
    </container>
  </unity>

</configuration>